<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Liste de films</title>
</head>
<body>
<div class="container-fluid">
    <header></header>
    <main>
        <div class="row text-center">
            <h1>Liste de films</h1>
        </div>
        <div class="row col-6 offset-3" >
            <table class="table table-primary">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Genre</th>
                    <th>Durée</th>
                    <th>Réalisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="film: ${films}" th:object="${film}" >
                    <td th:text="*{id}" ></td>
                    <td th:text="*{titre}" ></td>
                    <td th:text="*{genre}" ></td>
                    <td th:text="*{duree}" ></td>
                    <td th:text="*{realisateur.prenom+' '+realisateur.nom}" ></td>
                    <td>
                        <a th:href="@{'/films/'+*{id}}" class="btn btn-info">Détails</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>